header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8%;
    box-shadow: 0 3px 10px grey;
    background: white;
    z-index: 1000;
}

header a {
    padding: 15px;
    text-decoration: none;
    color: black;
}

.dropdown_profile:hover {
    background-color: black;
    color: white;
}


.profile_box {
    position: relative;
}

.profile_box ul {
    position: absolute;
    left: 0;
    width: 180px;
    background: white;
    margin-left: 0;
    padding-left: 0;
    display: none;
}

.profile_box:hover ul {
    display: block;
}

.profile_box ul li {
    width: 100%;
    border: 1px solid rgba(0,0,0,.1);
    list-style-type: none;
}

.profile_box ul li a {
    display: block;
    padding: 12px 15px;
}

.profile_box ul li a:hover {
    background-color: black;
    color: white;
    padding-left: 20px;
}